{% extends "admin/config/device/change_form.html" %}
{% load i18n static %}
{% block after_field_sets %}

 {% if not add and device_data.cellular %}
  <div class="inline-group" id="ow-cellular">
  <fieldset class="module">
     <h2>{% trans 'Cellular' %}</h2>
       <div id="details-tabs" class="details-tabs-container">
      <!-- PANELS -->
      <div id="details-tab-system" class="details-tab-panel ">
        <div class="details-sub-tabs">
          <button type="button" data-target="details-cellular-info" class="active">Cellular Info</button>
          <button type="button" data-target="details-device-usage">Device Usage</button>
          <button type="button" data-target="details-cellular-signal">Cellular Signal</button>

        </div>

        <div class="details-sub-contents">
          <div id="details-cellular-info" class="details-sub-content active">
            {% include 'monitoring/cellular/cellular_info.html' %}
          </div>
          <div id="details-device-usage" class="details-sub-content">
            {% include 'monitoring/cellular/device_usage.html' %}
          </div>
          <div id="details-cellular-signal" class="details-sub-content">
            {% include 'monitoring/cellular/cellular_signal.html' %}
          </div>
        </div>
      </div>
    </div>
  </fieldset>
</div>
{% endif %}

{% if not add or device_data %}
  <div class="inline-group" id="ow-traffic">
  <fieldset class="module">
     <h2>{% trans 'Traffic' %}</h2>
       <div id="traffic-tabs" class="traffic-tabs-container">
      <!-- PANELS -->
      <div id="traffic-tab-system" class="traffic-tab-panel ">
        <div class="traffic-sub-tabs">
          {% if device_data.device_type != '4g_5g_router' %}
          <button type="button" data-target="traffic-traffic" class="active">Traffic Summary</button>
          {% endif %}
          <button type="button" data-target="traffic-real-time-traffic">Real-Time Traffic</button>
          <button type="button" data-target="traffic-wan-uplinks">WAN Uplinks</button>
          {% if device_data.device_type != '4g_5g_router' %}
          <button type="button" data-target="traffic-security">Security</button>
          {% endif %}

        </div>

        <div class="traffic-sub-contents">
          {% if device_data.device_type != '4g_5g_router' %}
          <div id="traffic-traffic" class="traffic-sub-content active">
            {% include 'monitoring/traffic/traffic.html' %}
          </div>
          {% endif %}
          <div id="traffic-real-time-traffic" class="traffic-sub-content">
            {% include 'monitoring/traffic/real_time_traffic.html' %}
          </div>
          <div id="traffic-wan-uplinks" class="traffic-sub-content">
            {% include 'monitoring/traffic/wan_uplinks.html' %}
          </div>
          {% if device_data.device_type != '4g_5g_router' %}
          <div id="traffic-security" class="traffic-sub-content">
            {% include 'monitoring/traffic/security.html' %}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </fieldset>
</div>
{% endif %}

{% if not add %}
<div class="inline-group" id="ow-events">
  <fieldset class="module">
    <h2>{% trans 'Events' %}</h2>
    {% include 'monitoring/events/event.html' %}
  </fieldset>
</div>
{% endif %}

{% if not add and device_data %}
<div class="inline-group" id="ow-device-status">
  <fieldset class="module">
    <h2>{% trans 'Status' %}</h2>
    <div class="status-tabs-container">
      <!-- MAIN TABS -->
      <div class="status-main-tabs" id="mainTabs">
        <button class="status-tab-system active" data-target="tab-system">
          System
        </button>
        <button class="status-tab-network" data-target="tab-network">
          Network
        </button>
        {% if device_data.device_type != '4g_5g_router' %}
        {% comment %} <button class="status-tab-users" data-target="tab-users">Users</button> {% endcomment %}
        <button class="status-tab-firewall" data-target="tab-firewall">
          Firewall
        </button>
        <button class="status-tab-security" data-target="tab-security">
          Security
        </button>
        <button class="status-tab-vpn" data-target="tab-vpn">VPN</button>
        <!-- add your other 3 here -->
        {% endif %}
      </div>

      <!-- TAB PANELS -->
      <div id="tab-system" class="status-tab-panel active">
        <div class="status-sub-tabs">
          <button class="active" data-target="tab-system-general">General</button>
          {% if device_data.device_type != '4g_5g_router' %}
          <button data-target="tab-system-snmp">SNMP</button>
          <button data-target="tab-system-icmp">ICMP Check</button>
          <button data-target="tab-system-schedule">Schedule</button>       
          {% endif %}
        </div>
         <div class="status-sub-contents">
          <div id="tab-system-general" class="status-sub-content active">   
            {% include 'monitoring/paritals/general.html' %}
          </div>
           <div id="tab-system-snmp" class="status-sub-content ">
            {% include 'monitoring/paritals/system/snmp.html' %}      
          </div>
           <div id="tab-system-icmp" class="status-sub-content ">
            {% include 'monitoring/paritals/system/icmp.html' %}      
          </div>
           <div id="tab-system-schedule" class="status-sub-content ">
            {% include 'monitoring/paritals/system/schedule.html' %}
          </div>
        </div>
      </div>

      <!-- TAB PANEL Users -->

      <div id="tab-users" class="status-tab-panel">
        <div class="status-sub-tabs">
          <button class="active">User Database</button>
          <button>Objects</button>      
        </div>
        <div class="sub-content">Content for Network...</div>
      </div>

      <!-- TAB PANEL Network -->

  <div id="tab-network" class="status-tab-panel">
        <div class="status-sub-tabs">
          <button class="active" data-target="tab-network-interface">Interface</button>
          {% if device_data.device_type != '4g_5g_router' %}
          <button data-target="tab-network-dnsdhcp">DNS/DHCP</button>
          <button data-target="tab-network-routes">Routes</button>
          <button data-target="tab-network-vxlan">VXLAN</button>
          <button data-target="tab-network-multiwan">FlowEdge</button>
          <button data-target="tab-network-performance">Performance SLA</button>
          <button data-target="tab-network-reverseproxy">Reverse Proxy</button>
          <button data-target="tab-network-advqos">Advance QoS</button>
          <button data-target="tab-network-rip">RIP</button>
          <button data-target="tab-network-ospf">OSPF</button>
          <button data-target="tab-network-bgp">BGP</button>
          <button data-target="tab-network-vrf">VRF</button>
          {% endif %}
        </div>
        <div class="status-sub-contents">
          <div id="tab-network-interface" class="status-sub-content active">
            <h3>Interface</h3>
            {% include 'monitoring/paritals/interface.html' %}
          </div>
          <div id="tab-network-dnsdhcp" class="status-sub-content">
             {% include 'monitoring/paritals/dns-dhcp.html' %}
          </div>
          <div id="tab-network-routes" class="status-sub-content">
             {% include 'monitoring/paritals/routes.html' %}
          </div>
          <div id="tab-network-vxlan" class="status-sub-content">
              {% include 'monitoring/paritals/network-vxlan.html' %}
          </div>
          <div id="tab-network-multiwan" class="status-sub-content">
             {% include 'monitoring/paritals/network-flowedge.html' %}
          </div>

          <div id="tab-network-reverseproxy" class="status-sub-content">
            {% include 'monitoring/paritals/network/reverse_proxy.html' %}
          </div>
          <div id="tab-network-advqos" class="status-sub-content">
            {% include 'monitoring/paritals/network/advance_qos.html' %}
          </div>
          <div id="tab-network-rip" class="status-sub-content">
            {% include 'monitoring/paritals/network/rip.html' %}
          </div>
          <div id="tab-network-ospf" class="status-sub-content">
            {% include 'monitoring/paritals/network/ospf.html' %}
          </div>
          <div id="tab-network-bgp" class="status-sub-content">
            {% include 'monitoring/paritals/network/bgp.html' %}
          </div>
          <div id="tab-network-vrf" class="status-sub-content">
            {% include 'monitoring/paritals/network/vrf.html' %}
          </div>
        </div>
      </div>
       <!-- TAB PANEL Firewall -->
      <div id="tab-firewall" class="status-tab-panel">
        <div class="status-sub-tabs">
          <button data-target="tab-firewall-port" class="active">Port Forward</button>
          <button data-target="tab-firewall-nat" >NAT</button>
          <button data-target="tab-firewall-rules">Rules</button>
          <button data-target="tab-firewall-connections">Connections</button>
          <button data-target="tab-firewall-zones">Zones and Policies</button>
        </div>
         <div class="status-sub-contents">
          <div id="tab-firewall-port" class="status-sub-content active">
             {% include 'monitoring/paritals/port-forward.html' %}
          </div>

           <div id="tab-firewall-nat" class="status-sub-content ">
             {% include 'monitoring/paritals/nat.html' %}
          </div>

           <div id="tab-firewall-rules" class="status-sub-content ">
             {% include 'monitoring/paritals/rules.html' %}
          </div>

           <div id="tab-firewall-connections" class="status-sub-content ">
            {% include 'monitoring/paritals/connections.html' %}
          </div>

          <div id="tab-firewall-zones" class="status-sub-content">
            {% include 'monitoring/paritals/firewall-zones.html' %}
          </div>
        </div>
      </div>
        <!-- TAB PANEL Security -->
      <div id="tab-security" class="status-tab-panel">
        <div class="status-sub-tabs">
          <button data-target="tab-security-instaip" class="active">InstaShield IP</button>
          <button data-target="tab-security-instadns">InstaShield DNS</button>
          <button data-target="tab-security-dpi">DPI Filter</button>
          <button data-target="tab-security-ips">IPS</button>
          <button data-target="tab-security-antivirus">Anti Virus</button>
          <button data-target="tab-security-antispam">Anti Spam</button>
        </div>
        <div class="status-sub-contents">
          <div id="tab-security-instaip" class="status-sub-content active">
             {% include 'monitoring/paritals/security/instaip.html' %}
          </div>
          <div id="tab-security-instadns" class="status-sub-content">
             {% include 'monitoring/paritals/security/instadns.html' %}
          </div>
          <div id="tab-security-dpi" class="status-sub-content">
             {% include 'monitoring/paritals/security/dpi.html' %}
          </div>
          <div id="tab-security-ips" class="status-sub-content">
             {% include 'monitoring/paritals/security/ips.html' %}
          </div>
          <div id="tab-security-instaip" class="status-sub-content">
             {% include 'monitoring/paritals/security/instaip.html' %}
          </div>
          <div id="tab-security-antispam" class="status-sub-content">
             {% include 'monitoring/paritals/security/antispam.html' %}
          </div>
        </div>
      </div>

        <!-- TAB PANEL VPN -->
      <div id="tab-vpn" class="status-tab-panel">
        <div class="status-sub-tabs">
          <button data-target="tab-security-ipsec" class="active">IPsec Tunnel</button>
          <button data-target="tab-security-l2tp">L2TP</button>
          <button data-target="tab-security-gre">GRE</button>
          <button data-target="tab-security-vrrp">VRRP</button>
          <button data-target="tab-security-zerotier">Zerotier</button>
          <button data-target="tab-security-wireguard">Wireguard</button>
          <button data-target="tab-security-openvpn">OpenVPN</button>
        </div>
          <div class="status-sub-contents">
            <div id="tab-security-ipsec" class="status-sub-content active">
              {% include 'monitoring/paritals/vpn/vrrp.html' %}
            </div>
            <div id="tab-security-l2tp" class="status-sub-content ">
              {% include 'monitoring/paritals/security/instaip.html' %}
            </div>
            <div id="tab-security-gre" class="status-sub-content ">
              {% include 'monitoring/paritals/security/instaip.html' %}
            </div>
            <div id="tab-security-vrrp" class="status-sub-content ">
              {% include 'monitoring/paritals/vpn/vrrp.html' %}
            </div>
            <div id="tab-security-zerotier" class="status-sub-content ">
              {% include 'monitoring/paritals/vpn/vrrp.html' %}
            </div>
            <div id="tab-security-wireguard" class="status-sub-content ">
              {% include 'monitoring/paritals/vpn/wireguard.html' %}
            </div>
            <div id="tab-security-openvpn" class="status-sub-content ">
              {% include 'monitoring/paritals/vpn/openvpn.html' %}
            </div>
          </div>
      </div>
      <!-- repeat panels for each main tab -->
    </div>
  </fieldset>
</div>
{% endif %}
 {% if not add %}
<div class="inline-group" id="ow-chart-container">
  <fieldset class="module">
    <h2>{% trans 'Charts' %}</h2>
    {% include 'monitoring/paritals/chart.html' %}
  </fieldset>
</div>

<style>
  .change-form{
     margin: 0 !important;
    }
  .status-tabs-container {
    width: 100%;
  }
  .status-main-tabs {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #ddd;
   
  }
  .status-main-tabs button {
    flex: 1 1 auto;
    height: 2.5rem;
    padding: 0 0rem;
    border: none;
    background: #f8f8f8;
    margin-right: 10px;
    font-weight: 600;
    border-radius: 10px 10px 0px 0px;
    color: #666;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;

    
  }
  .status-main-tabs button.active {
    color: #11274b;
    border-bottom: 2px solid #253a5d;
  }

  .status-sub-tabs {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #ddd;
    background: #fff;
  }
  .status-sub-tabs button {
    flex: 1 1 auto;
    height: 2.4rem;
    padding: 0 0.75rem;
    border: none;
    background: none;
    color: #666;
    cursor: pointer;
    text-align: center;
    font-size: 0.8rem;
    white-space: nowrap;
  }
  .status-sub-tabs button.active {
    color: #11274b;
    border-bottom: 2px solid #253a5d;
  }

  .status-tab-panel {
    display: none;
    padding: 1rem;
  }
  .status-tab-panel.active {
    display: block;
  }
.status-sub-content { display: none; padding: 1rem; }
.status-sub-content.active { display: block; }
  @media (max-width: 768px) {
    .status-main-tabs,
    .status-sub-tabs {
      flex-direction: column;
    }
    .status-main-tabs button,
    .status-sub-tabs button {
      text-align: left;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin-bottom: 10px;
    margin-top: 15px;
  }
  .status-card {
    background-color: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }
  .status-card .title {
    font-size: 0.875rem;
    color: #6b7280;
  }
  .status-card .value {
    font-size: 0.9rem;
    font-weight: 500;
    margin-top: 0.5rem;
    color: #111827;
  }
  #ow-device-status h2 {
    color: #333;
    background-color: rgba(0, 0, 0, 0.05);
    outline: 1px solid rgba(0, 0, 0, 0.3);
    padding: 10px !important;
    margin-top: 20px;
  }

  #ow-device-status .form-row,
  #ow-device-status table th,
  #ow-device-status table td {
    padding: 10px 20px !important;
    font-size: 12px !important;
  }
  .icon-arrow {
    vertical-align: middle;
    color: green;
  }
  .icon-reject{
     vertical-align: middle;
    color: red;
  }
  #tab-firewall-rules h3 {
    margin-bottom: 0px;
    background-color: #49535f;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 16%;
    margin-top: 14px;
    font-weight: 500;
    color: #ffff;
    border-radius: 0px 16px 0px 0px;
  }
  #tab-firewall-rules .firewall-label {
    background-color: #e0e7ff;
    padding: 2px 10px 2px 10px;
    border-radius: 15px;
    color: #3730a3;
  }
  .alert {
      padding: 0rem 0rem !important;
    
}


/* Scoped styles so nothing else is affected */
  #details-tabs .details-sub-tabs {
    display:flex; flex-wrap:wrap; border-bottom:1px solid #ddd; background:#fff;
  }
  #details-tabs .details-sub-tabs button {
    flex: 1 1 auto;
    height: 2.5rem;
    padding: 0 0rem;
    border: none;
    background: #f8f8f8;
    margin-right: 10px;
    font-weight: 600;
    border-radius: 10px 10px 0px 0px;
    color: #666;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
  }
  #details-tabs .details-sub-tabs button.active {
    color:#11274b; border-bottom:2px solid #253a5d;
  }
  #details-tabs .details-sub-content { display:none; padding:1rem 0 0; }
  #details-tabs .details-sub-content.active { display:block; }

  @media (max-width:768px){
    #details-tabs .details-sub-tabs{flex-direction:column;}
    #details-tabs .details-sub-tabs button{text-align:left;}
  }

  /* Style for traffic tab */
  #traffic-tabs .traffic-sub-tabs {
    display:flex; flex-wrap:wrap; border-bottom:1px solid #ddd; background:#fff;
  }
  #traffic-tabs .traffic-sub-tabs button {
    flex: 1 1 auto;
    height: 2.5rem;
    padding: 0 0rem;
    border: none;
    background: #f8f8f8;
    margin-right: 10px;
    font-weight: 600;
    border-radius: 10px 10px 0px 0px;
    color: #666;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
  }
  #traffic-tabs .traffic-sub-tabs button.active {
    color:#11274b; border-bottom:2px solid #253a5d;
  }
  #traffic-tabs .traffic-sub-content { display:none; padding:1rem 0 0; }
  #traffic-tabs .traffic-sub-content.active { display:block; }
  @media (max-width:768px){
    #traffic-tabs .traffic-sub-tabs{flex-direction:column;}
    #traffic-tabs .traffic-sub-tabs button{text-align:left;}
  }
</style>
<script>
    function setActive(container, selector, activeElem) {
    container.querySelectorAll(selector).forEach(el => el.classList.remove('active'));
    activeElem.classList.add('active');
  }

  // Main tabs
  document.getElementById('mainTabs').addEventListener('click', e => {
 
    if (e.target.tagName !== 'BUTTON') return;
    e.preventDefault();
    setActive(document.querySelector('.status-main-tabs'), 'button', e.target);
    document.querySelectorAll('.status-tab-panel').forEach(p => p.classList.remove('active'));
    document.getElementById(e.target.dataset.target).classList.add('active');
  });

  // Sub-tabs
  document.querySelectorAll('.status-sub-tabs').forEach(subContainer => {
    subContainer.addEventListener('click', e => {
      if (e.target.tagName !== 'BUTTON') return;
      e.preventDefault();
      setActive(subContainer, 'button', e.target);
      const panel = subContainer.closest('.status-tab-panel');
      const target = e.target.dataset.target;
      panel.querySelectorAll('.status-sub-content').forEach(c => c.classList.remove('active'));
      panel.querySelector(`#${target}`).classList.add('active');
    });
  });
</script>


<script>
  django.jQuery(function ($) {
    $(document).ready(function () {
      // load charts only when tab is shown
      $(document).on("tabshown", function (e) {
        if (e.tabId === "#ow-chart-container") {
          triggerChartLoading();
        } else {
          clearInterval(window.owChartRefresh);
        }
      });
      if (window.location.hash == "#ow-chart-container") {
        $.event.trigger({
          type: "tabshown",
          tabId: window.location.hash,
        });
      }
    });
  });
  function scrollToElement(id) {
    document.getElementById(id).scrollIntoView();
  }



  (function(){
    const root = document.getElementById('details-tabs');
    if(!root) return;

    const setActive = (container, selector, el) => {
      container.querySelectorAll(selector).forEach(x => x.classList.remove('active'));
      el.classList.add('active');
    };

    const sub = root.querySelector('.details-sub-tabs');
    sub.addEventListener('click', (e) => {
      const btn = e.target.closest('button');
      if(!btn) return;
      e.preventDefault();

      setActive(sub, 'button', btn);

      root.querySelectorAll('.details-sub-content').forEach(c => c.classList.remove('active'));
      const tgt = root.querySelector('#' + btn.dataset.target);
      if(tgt) tgt.classList.add('active');
    });
  })();

  (function(){
    const root = document.getElementById('traffic-tabs');
    if(!root) return;

    const setActive = (container, selector, el) => {
      container.querySelectorAll(selector).forEach(x => x.classList.remove('active'));
      el.classList.add('active');
    };

    const sub = root.querySelector('.traffic-sub-tabs');
    sub.addEventListener('click', (e) => {
      const btn = e.target.closest('button');
      if(!btn) return;
      e.preventDefault();

      setActive(sub, 'button', btn);

      root.querySelectorAll('.traffic-sub-content').forEach(c => c.classList.remove('active'));
      const tgt = root.querySelector('#' + btn.dataset.target);
      if(tgt) tgt.classList.add('active');
    });
  })();
</script>
{% endif %} {% endblock %}